/target
/tools/*
!/tools/setup.ps1
!/tools/setup_get_git.py
!/tools/whipped.ps1
!/tools/timeline-wiskess.conf
!/tools/velociraptor-v0.6.0-windows-amd64.exe
!/tools/PyWMIPersistenceFinder.py
!/tools/polars_tln.py
!/tools/polars_hostinfo.py
!/tools/polars_enrich.py
!/tools/hindsight.exe
!/tools/enrich.exe
!/tools/enrich_config.yaml
!/tools/CCM_RUA_Finder.py
!/tools/CCM_RUA_Finder.exe
!/tools/BrowsingHistoryView.exe
!/tools/BrowsingHistoryView.chm
!/tools/BrowsingHistoryView.cfg
/output_test
/testing_wr
/logs
/hindsight.log